.math {
  width: 250px;
  text-align: center;
  background-color: rgba(98, 253, 202, 0.5);
  color: magenta;
  height: 41.66667px;
  line-height: 41.66667px;
  border-radius: 8.33333px;
  font-size: 20.83333px;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.teal {
  background: teal;
}

.ray {
  height: 30px;
}

.ray:nth-child(1) {
  background: #9900ff;
}

.ray:nth-child(2) {
  background: #ff00cc;
}

.ray:nth-child(3) {
  background: #ff0033;
}

.ray:nth-child(4) {
  background: #ff6600;
}

.ray:nth-child(5) {
  background: yellow;
}

.ray:nth-child(6) {
  background: #66ff00;
}

.ray:nth-child(7) {
  background: #00ff33;
}

.ray:nth-child(8) {
  background: #00ffcc;
}

.ray:nth-child(9) {
  background: #0099ff;
}

.ray:nth-child(10) {
  background: blue;
}
